<div class="uk-padding">

<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field uk-margin-bottom">
        <%= f.label :ニックネーム ,class:"uk-margin-bottom" %> <em>(6文字以上)</em><br />
        <%= f.text_field :nickname, autofocus: true, maxlength: "6" ,size:"60" ,class:"uk-padding-small" %>
      </div>

  <div class="field uk-margin-bottom">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,size:"60" ,class:"uk-padding-small"%>
  </div>

  <div class="field uk-margin-bottom">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" ,size:"60" ,class:"uk-padding-small"%>
  </div>

  <div class="field uk-margin-bottom">
    <%= f.label :パスワード再入力 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",size:"60" ,class:"uk-padding-small"%>
  </div>

  <div class="actions">
    <%= f.submit "登録" ,class:"uk-button uk-button-default"%>
  </div>
<% end %>

</div>

<%
=begin%>
 <%= render "devise/shared/links" %> 
<%
=end%>
	